//
   Created by Phi on 1/30/2015.
extends ../layout
block content
    header#HOME(style='background: none;')
        section
            nav.navbar.navbar-default.navbar-fixed-top
                .container
                    // Brand and toggle get grouped for better mobile display
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#')
                            img(src='images/logo.png', alt='')
                    // Collect the nav links, forms, and other content for toggling
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false") Xin chào #{user}!
                                    span(class="caret")
                                ul(class="dropdown-menu" role="menu")
                                    li
                                        a(href='/logout') Thoát ra
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='/') TRANG CHỦ
                            li()
                                a(href='/evaluation') Đánh giá môn học
        section#SERVICE.services
            .container.evaluate(ng-app="evaluate")
                h2=Rp_Form
                script(src="javascripts/evaluation.js").
                div(ng-controller="list")
                    div(ng-init="add=false; count=0;", ng-click="add=!add;")
                        div {{dgmh_rp}}
                        div.input-group
                            span.input-group-addon(style="background:none; border:none;")
                                span.glyphicon.glyphicon-plus(ng-show="add")
                                span.glyphicon.glyphicon-minus(ng-show="!add")
                            span(style="font-size:1.5em") Danh sách đánh giá
                    div(ng-hide="add")
                        ul(ng-repeat="member in list")
                            strong {{member.ten_mon}}
                            div(ng-init="ml=true;", ng-click="ml=!ml;")
                                span.input-group-addon(style="background:none; border:none;")
                                span.glyphicon.glyphicon-chevron-right(ng-show="ml")
                                span.glyphicon.glyphicon-chevron-down(ng-show="!ml")
                                span Mã lớp: {{member.ma_lop}}
                                ul(ng-hide="ml")
                                    li Tiết học: {{member.tiet_bat_dau+'-'+member.tiet_ket_thuc}}
                                    li Thứ: {{member.thu}}
                                    li Giảng đường: {{member.giang_duong}}

                            div(ng-init="mh=true;", ng-click="mh=!mh;")
                                span.input-group-addon(style="background:none; border:none;")
                                span.glyphicon.glyphicon-chevron-right(ng-show="mh")
                                span.glyphicon.glyphicon-chevron-down(ng-show="!mh")
                                span Mã đánh giá môn: {{member.ma_mon}}
                                ul(ng-hide="mh")
                                    li Tên môn: {{member.ten_mon}}
                                    li Mã môn: {{member.ma_mon_hoc}}
                            div(ng-init="gv=true;", ng-click="gv=!gv;")
                                span.input-group-addon(style="background:none; border:none;")
                                span.glyphicon.glyphicon-chevron-right(ng-show="gv")
                                span.glyphicon.glyphicon-chevron-down(ng-show="!gv")
                                span Mã giảng viên: {{member.ma_giang_vien.ma_giang_vien}}
                                ul(ng-hide="gv")
                                    li Tên giảng viên: {{member.ma_giang_vien.ho_va_ten}}
                    h3 {{list_rp}}
                div(ng-controller="create")
                    div(ng-init="add=true", ng-click="add=!add;")
                        div.input-group
                            span.input-group-addon(style="background:none; border:none;")
                                span.glyphicon.glyphicon-plus(ng-show="add")
                                span.glyphicon.glyphicon-minus(ng-show="!add")
                            span(style="font-size:1.5em") Tạo mới mẫu đánh giá
                    div(ng-hide="!add", style="font-size:25px")
                        br
                        form()
                            div.row
                                div.col-sm-2.col-md-2
                                    strong Môn học:
                                div.col-sm-4.col-md-4
                                    input.form-control(name='subject', type='text', placeholder='Môn học',autocomplete="false",ng-model="form.subject")
                            div.row
                                div.col-sm-2.col-md-2
                                    strong Lớp môn học:
                                div.col-sm-4.col-md-4
                                    input.form-control( type='text', placeholder='Lớp môn học',autocomplete="false",ng-model="form.cla_id")
                            div.row
                                div.col-sm-2.col-md-2
                                    strong Giảng viên:
                                div.col-sm-4.col-md-4
                                    input.form-control( type='text', placeholder='Giảng viên',autocomplete="false",ng-model="form.tea_id")
                            div.row
                                label.col-sm-2.col-md-2
                                    strong Mã sinh viên:
                                div.col-sm-4.col-md-4.form-group
                                    input.form-control(name='stu_id',type='text', placeholder='Mã sinh viên', value=std_id,disabled)
                            table
                                each nb_qs,value in {1:'Giảng đường đáp ứng nhu cầu của môn học.',2:'Các thiết bị tại giảng đường đáp ứng nhu cầu giảng dạy và học tập.',3:'Bạn được hỗ trợ kịp thời trong quá trình học môn này',4:'Mục tiêu của môn học nêu rõ kiến thức và kĩ năng người học cần đạt được.',5:'Thời lượng môn học được phân bổ hợp lí cho các hình thức học tập.',6:'Các tài liệu phục vụ môn học được cập nhật.',7:'Môn học góp phần trang bị kiến thức, kĩ năng nghề nghiệp cho bạn.',8:'Giảng viên hướng dẫn cho bạn phương pháp học tập khi bắt đầu môn học.',9:'Phương pháp giảng dạy của giảng viên giúp bạn phát triển tư duy phê phán',10:'Giảng viên tạo cơ hội để bạn chủ động tham gia vào quá trình học tập',11:'Giảng viên giúp bạn phát triển kĩ năng làm việc độc lập',12:'Giảng viên rèn luyện cho bạn phương pháp liên hệ giữa các vấn đề trong môn học với thực tiễn',13:'Giảng viên sử dụng hiệu quả phương tiện dạy học',14:'Giảng viên quan tâm giáo dục tư cách, phẩm chất nghề nghiệp của người học',15:'Bạn hiểu những vấn đề được truyền tải trên lớp ',16:'Kết quả học tập của người học được đánh giá bằng nhiều hình thức phù hợp với tính chất và đặc thù môn học',17:'Nội dung kiểm tra đánh giá tổng hợp được các kiến thức và kĩ năng mà người học phải đạt được theo yêu cầu',18:'Thông tin phản hồi từ kiểm tra đánh giá giúp bạn cải thiện kết quả học tập'}
                                        +print_question(nb_qs,value)

                            mixin print_question(question,stt)
                                tr
                                    td
                                        span.number(style="padding:5px") #{stt}.
                                        span.question
                                            strong=question
                                    td(style="float:right; min-width:180px;")
                                        input.css-checkbox(type='radio', name='q'+stt, id="radio1"+stt,value=1,ng-model='form.q'+stt)
                                        label.css-label.radGroup2(for='radio1'+stt) 1
                                        input.css-checkbox(type='radio', name='q'+stt, id="radio2"+stt,value=2,ng-model='form.q'+stt)
                                        label.css-label.radGroup2(for='radio2'+stt) 2
                                        input.css-checkbox(type='radio', name='q'+stt, id="radio3"+stt,value=3,ng-model='form.q'+stt)
                                        label.css-label.radGroup2(for='radio3'+stt) 3
                                        input.css-checkbox(type='radio', name='q'+stt,id="radio4"+stt,value=4,ng-model='form.q'+stt)
                                        label.css-label.radGroup2(for='radio4'+stt) 4
                                        input.css-checkbox(type='radio', name='q'+stt, id="radio5"+stt,value=5,ng-model='form.q'+stt)
                                        label.css-label.radGroup2(for='radio5'+stt) 5
                            style.
                                input[type=radio].css-checkbox {
                                    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
                                }
                                input[type=radio].css-checkbox + label.css-label {
                                    padding-left:10px;
                                    padding-right:15px;
                                    height:30px;
                                    display:inline-block;
                                    line-height:30px;
                                    background-repeat:no-repeat;
                                    background-position: 0 0;
                                    font-size:20px;
                                    vertical-align:middle;
                                    cursor:pointer;
                                }
                                    input[type=radio].css-checkbox:checked + label.css-label {
                                    background-position: 0 -30px;
                                }
                                label.css-label {
                                    background-image:url('./images/1.png');
                                    -webkit-touch-callout: none;
                                    -webkit-user-select: none;
                                    -khtml-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                }
                            tr
                                |Nếu bạn có ý kiến đóng góp khác, xin mời ghi ở dưới đây:
                                br
                                textarea(name='comment', rows='4',style="width:100%;",ng-mode="form.comment")
                                br
                                center Cám ơn những ý kiến đóng góp quý báu của bạn!
                                input(type="submit", name="submit_form", value="gửi đi",ng-click="submit(form)")
